*{
    scroll-behavior: smooth;
}

.message-area{
    margin: 2% auto;
    height: 75vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.scroll-none{
    scrollbar-width: none;
}
.message-area.bot{
    height: 75vh;
}

li{
    list-style: none;
    margin: 10px 0;
}


.message{
    background-color: blue;
    color: #fff;
    text-wrap: wrap;
    display: inline;
    margin: 3px 0;
    padding: 5px 10px;
    border-radius: 10px;
}

.message.self{
    background-color: #c5c4c4;
    color: black;
    text-align: right;
}

.focus-no-shadow:focus{
    box-shadow: none;
}

.bg-secondary{
    background-color:   #dbdbdb !important;
}

.card{
    border-color: #bbb6b6;
}
.book-card{ 
    height: 350px;
}
.author-card{
    height: 250px;
}
.borrower-card{
    height: 300px;
}

.bg-dark{
    background-color: #072057 !important;
}

.text-blue{
    color: #072057;
}